.inputcomponent-full-div{
    height: 3rem;
    width: 30rem;
    max-width: 90%;
    border-radius: 10px;
    position: relative;
}

.inputcomponent-input{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 20px 10px 20px 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.253) , rgba(0, 0, 0, 0.253) );
    color: whitesmoke;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    border-left: 10px solid #07252d;
    border-top: 2px solid #07252d;
    border-right: 2px solid #07252d;
    border-bottom: 2px solid #07252d;
}

.inputcomponent-placeholder{
    position: absolute;
    left: 40px;
    top: 50%;
    color: rgb(148, 148, 148);
    background: transparent;
    padding: 5px 10px 5px 0;
    pointer-events: none;
    font-size: 1.2rem;
    transition: all 200ms ease-in-out;
    transform: translateY(-50%);
}

.shit-placeholder{
    top: 0 !important;
    left: 30px !important;
    background: linear-gradient(to bottom, #05191F 50%, #041317 50%) !important;
    padding-left: 10px !important;
    color: #FFDD07 !important;
}

