.myprojects-full-div{
    width: 100%;
    background-color: #FFDD07;
    border-radius: 10px;
    padding-bottom: 150px;
    filter: drop-shadow(0 10px 5px black);
}

.myprojects-curved-upper-div{
    position: absolute;
    top: 0;
    left: 0;
}

.myprojects-outer-div{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.534) ,rgba(0, 0, 0, 0.534)) ,  url('../images/codeImage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding-bottom: 200px;
    padding-top: 350px;
    clip-path: url(#myProjectsCurve);
}

.myprojects-outer-div-background-image{
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background : linear-gradient(rgba(0, 0, 0, 0.534) ,rgba(0, 0, 0, 0.534));
}

.myprojects-curved-svg1{
    position: absolute;
    top: 0;
    left: 0;
}

.myprojects-curved-svg2{
    position: absolute;
    bottom: 0;
    left: 0;
}

.myprojects-inner-div{
    width: 100%;
    height: 600px;
    max-width: 1200px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
}
@media(max-width : 600px){
    .myprojects-inner-div{
        height: 300px;
    }
}

.myprojects-carousel-left-button{
    position: absolute;
    border-radius: 10px;
    left: 20px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFDD07;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    opacity: 0.9;
    z-index: 2;
    display: inline-block;


    border-radius: 100%;
    border: 3px solid #ffe53c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.7rem 0 0;


    -webkit-transform:translateY(-50%) translateZ(0);
-moz-transform:translateY(-50%) translateZ(0);
-ms-transform:translateY(-50%) translateZ(0);
-o-transform:translateY(-50%) translateZ(0);
transform:translateY(-50%) translateZ(0);
}


.myprojects-carousel-left-button:hover{
    opacity: 1;
    filter: drop-shadow(0 0 2px green);
    transform:translateY(-50%) scale(1.1) translateZ(0);
}

.myprojects-carousel-left-button-svg{
    font-size: 2rem;
    animation: animateLeftButton1 2s linear infinite;

    -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}

@keyframes animateLeftButton1 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.myprojects-carousel-left-button-svg2{
    font-size: 2rem;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 8px;
    color: #ffe53c;

    animation: animateLeftButton2 2s linear infinite;

    -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}

@keyframes animateLeftButton2 {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.myprojects-carousel-right-button{
    position: absolute;
    border-radius: 10px;
    right: 20px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFDD07;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    opacity: 0.9;
    z-index: 2;
    display: inline-block;


    border-radius: 100%;
    border: 3px solid #ffe53c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.7rem 0 0;


    -webkit-transform:translateY(-50%) translateZ(0);
-moz-transform:translateY(-50%) translateZ(0);
-ms-transform:translateY(-50%) translateZ(0);
-o-transform:translateY(-50%) translateZ(0);
transform:translateY(-50%) translateZ(0);
}


.myprojects-carousel-right-button:hover{
    opacity: 1;
    filter: drop-shadow(0 0 2px green);
    transform:translateY(-50%) scale(1.1) translateZ(0);
}

.myprojects-carousel-right-button-svg{
    font-size: 2rem;
    animation: animateLeftButton1 2s linear infinite;

    -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}

@keyframes animateLeftButton1 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.myprojects-carousel-right-button-svg2{
    font-size: 2rem;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 8px;
    color: #ffe53c;

    animation: animateLeftButton2 2s linear infinite;

    -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}

@keyframes animateLeftButton2 {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media(max-width : 600px){
    .myprojects-carousel-right-button{
        right: 5px;
    }

    .myprojects-carousel-left-button{
        left: 5px;
    }
}




.myprojects-carousel-scroll-full-div{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.myprojects-carousel-scroll-full-div {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.myprojects-carousel-scroll-full-div::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.myprojects-carousel-scroll-inner-div{
    width: 400%;
    height: 100%;
}