.projectcard-full-div{
    width: 25%;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
    scroll-snap-align: center;
    position: relative;

    -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}


.projectcard-backgroundImage{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    left: 0;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
}

.projectcard-inner-div{
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    overflow: visible;
}

.projectcard-inner-div-drop{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    top: 0;
    background-color: crimson;
    z-index: 1;
}


.projectcard-links-div{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
    background: #FFDD07;
    padding: 1rem 1rem;
    filter: drop-shadow(0 0 20px black);
}

.projectcard-github-link{
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #222831;
    letter-spacing: 2px;
}

@media(max-width : 600px){
    .projectcard-links-div{
        transform: scale(0.7) translateZ(0);
    }
}

.projectcard-hover-drop{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    border-radius: 100%;
    background: linear-gradient(#222831ab , #222831ab );
    transition: all 500ms ease-in-out;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;

    -webkit-transform:translateX(-50%) translateY(-50%) translateZ(0);
-moz-transform:translateX(-50%) translateY(-50%) translateZ(0);
-ms-transform:translateX(-50%) translateY(-50%) translateZ(0);
-o-transform:translateX(-50%) translateY(-50%) translateZ(0);
transform:translateX(-50%) translateY(-50%) translateZ(0);
}

.projectcard-inner-div:hover .projectcard-hover-drop{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.projectcard-header-div{
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.projectcard-header-div p:nth-child(1){
    font-family: 'Dancing Script' , cursive;
    font-size: 2.2rem;
    color: #FFDD07;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
    animation: animateTitle 2s linear infinite;
}

@keyframes animateTitle {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

.projectcard-details-div{
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    width: 100%;
}

.projectcard-details-div p:nth-child(1){
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;
}

@media(max-width : 500px){
    .projectcard-details-div p:nth-child(1){
        font-size: 1.1rem;
        font-weight: 400;
    }
}