.portfolio-navbar{
    width: 100%;
    height: 350px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;

}

.portfolio-navbar-logo-div{
    display: flex;
    align-items: flex-start;
}

.navbar-logo{
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    filter: drop-shadow(0 0 10px black);
    transform: rotate(-10deg) translateY(-10px);
}



.portfolio-navbar-outer-div{
    height: 100%;
    width: 100%;
    transition: filter 200ms ease-in-out;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    /* drop shadow */
}

.portfolio-navbar-inner-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #222831;
    clip-path: url(#myCurve);
    position: relative;
}


.portfolio-navbar-navlinks-div{
    padding: 0 20px;
    display: flex;
    height: 50%;
    width: 80%;
    max-width: 700px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.navbar-burger-button-div{
    display: none;
}

.mobile-navbar-right-div{
    display: none;
}

.navbar-backdrop{
    display: none;
}

@media(max-width : 800px){

    .portfolio-navbar{
        height: 250px;
    }

    .portfolio-navbar-inner-div{
        clip-path: url(#myMobileCurve);
    }

    .navbar-logo{
        width: 14rem;
        height: 12rem;
    }

    .portfolio-navbar-navlinks-div{
        display: none;
    }

    .navbar-burger-button-div{
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        height: 50px;
        background: transparent;
        border: 1px solid #FFDD07;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        z-index: 200000;
        transform: scale(0.7);
    }
    
    .navbar-burger-button{
        position: relative;
        border-radius: 5px;
        width: 50px;
        height: 6px;
        background-color: #FFDD07;
    }
    
    .navbar-burger-button::before{
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #FFDD07;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        left: 0;

        -webkit-transform:translateY(-16px) translateZ(0);
-moz-transform:translateY(-16px) translateZ(0);
-ms-transform:translateY(-16px) translateZ(0);
-o-transform:translateY(-16px) translateZ(0);
transform:translateY(-16px) translateZ(0);
    }
    
    .navbar-burger-button::after{
        content: '';
        position: absolute;
        left: 0;
        width: 50px;
        height: 6px;
        background: #FFDD07;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);

        -webkit-transform:translateY(16px) translateZ(0);
        -moz-transform:translateY(16px) translateZ(0);
        -ms-transform:translateY(16px) translateZ(0);
        -o-transform:translateY(16px) translateZ(0);
        transform:translateY(16px) translateZ(0);
    }

    .navbar-burger-button.open{
        transform: translateX(-50px) translateZ(0);
        background: transparent;
    }

    .navbar-burger-button.open::before{
        transform: rotate(45deg) translate(35px , -35px) translateZ(0);
    }

    .navbar-burger-button.open::after{
        transform: rotate(-45deg) translate(35px ,35px) translateZ(0);
    }

    .mobile-navbar-right-div{
        display: flex;
        position: fixed;
        width: 100%;
        height: 100vh;
        right: 0;
        top: -500%;
        z-index: 200;
        transition: top 200ms ease-in-out;
        border-radius: 10px 0 0 10px;
        filter: drop-shadow(0 10px 20px black);

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);

        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(5px);
    }
    
    .mobile-navbar-inner-div{
        background-color: #393E46;
        width: 100%;
        height: 100%;
        clip-path: url(#myMobileNavbarCurve);
        padding-top: 31%;
    }

    .mobile-navbar-image-div{
        border-radius: 100%;
        border: 4px solid yellow;
        width: 12rem;
        height: 12rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #393E46;
        box-shadow: 4px 4px 7px black;
        margin: 0 auto;
    }
    
    .mobile-navbar-image{
        width: 20rem;
        height: 20rem;
    }
    
    .mobile-navbar-navlink-div{
        color: whitesmoke;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 20px;
        display: inline-block;
    }
    
    .mobile-navbar-navlink{
        text-shadow: 2px 2px 2px black;
        border-radius: 30px;
        padding: 10px 0;
        background-color: #333333;
        filter: drop-shadow(0 4px 2px black);
        box-shadow: inset 3px 3px 5px black;
        cursor: pointer;
        width: 18rem;
    }

    .mobile-navbar-navlink:active{
        filter: none;
    }


}

@media(max-width : 500px){
    .portfolio-navbar{
        height: 200px;
    }

    .portfolio-navbar-inner-div{
        clip-path: url(#myMobileCurve2);
    }

    .navbar-logo{
        width: 9rem;
    }
}



