.contactme-full-div{
    margin-top: 100px;
    width: 100%;
    background-color: #1d1d1f;
}

.contactme-inner-div{
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    box-shadow: 5px -10px 5px black;
}

.contactme-send-button-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    position: relative;
}

.contact-icon-div{
    position: absolute;
    font-size: 1.3rem;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
    color: #FFDD07;
    z-index: 0;
    opacity: 1;
}

.contactme-send-button:focus~.contact-icon-div{
    transition: all 1000ms ease-in-out;
    right: 0;
    opacity: 0;
}

.contactme-send-button{
    border: none;
    outline: none;
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: #2c2c2e;
    filter: drop-shadow(0 7px 10px black);
    transition: all 500ms ease-in-out;
    box-shadow: inset 3px 3px 4px black;
    color: grey;
    z-index: 2;
}

.contactme-send-button:hover{
    background-color: #FFDD07;
    box-shadow: none;
    text-shadow: 2px 2px 3px grey;
    transform: scale(1.01);
}

.contactme-send-button:active{
    transition: none !important;
    box-shadow: inset 3px 3px 4px black;
    transform: scale(1);
}

.contactme-contact-links-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    margin: 0 auto;
    color: #FFDD07;
    text-shadow: 2px 2px 2px black;
    font-size: 1.1rem;
}

.contactme-contact-links-div1{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactme-contact-links-div2{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactme-contact-links{
    cursor: pointer;
    text-decoration: none;
    color: #FFDD07;
}

@media(max-width : 500px){
    .contactme-contact-links-text{
        display: none;
    }

    .contactme-contact-links-div{
        max-width: 200px;
    }
}