.App {
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Roboto';
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
}


.background{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
  background-color: #F0F2F5;
  background-color: #303136;
}