.aboutme-full-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    margin-top: 5rem;
    width: 100%;
    height: 20rem;
    position: relative;
    transition: all 500ms ease-in-out;
    transform: translateY(199px);
    filter: drop-shadow(0 20px 15px black);
    /* box-shadow: 5px 5px 10px grey; */
    /* filter: drop-shadow(0 0 10px 10px grey); */
}

.aboutme-full-div::before{
    content: "";
    width: 100%;
    height: 20px;
    /* background-color: rgba(128, 128, 128, 0.568); */
    background: linear-gradient(grey , rgba(182, 182, 182, 0.63));
    box-shadow: 5px 5px 7px black;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
}

/* .aboutme-full-div::after{
    content: "";
    width: 100%;
    height: 20px;
    background: linear-gradient(grey , rgba(182, 182, 182, 0.63));
    position: absolute;
    left: -5px;
    top: 80px;
    transform: rotate(5deg);
    filter: drop-shadow(0 0 10px grey);
    z-index: -2;
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
.aboutme-inner-div{
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    background-color: #0091e6;
    background-color: #e2e0e0;
    /* background-color: #030e12; */
    /* background-color: #5bccf6; */
    clip-path: polygon(0 0 , 100% 50% , 100% 100% , 0 100%);
    /* clip-path: polygon(0 20%, 80% 0, 100% 20%, 100% 100%, 0 100%); */
    /* clip-path: url(#aboutMeCurve); */
    text-align: left;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: #fcde67;
    color: #17141A;
    color: #532E1C;
    font-size: 1.2rem;
    text-shadow: 3px 3px 5px grey;
    /* filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.5)); */
}

.aboutme-text-div{
    width: calc(100% - 450px);
    display: inline-block
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
.aboutme-text-div p:nth-child(1){
    font-size: 2.5rem;
    color: #6BD8DB;
    color: #dab04e;
    color: #222831;
    text-shadow: 4px 4px 10px grey;
    font-family: 'Dancing Script', cursive;
}

.aboutme-text-div span:nth-child(2){
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

.aboutme-image-div{
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.aboutme-image{
    width: 100%;
    height: auto;
    z-index: 2;
}

@media(max-width : 1100px){
    .aboutme-image-div{
        display: none;
    }

    .aboutme-text-div{
        width: 100%;
    }
}

@media(max-width : 800px){
    .aboutme-inner-div{
        clip-path: url(#aboutMeCurve);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutme-full-div{
        height: 30rem;
        
    }
}