.aboutme-full-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    margin-top: 5rem;
    width: 100%;
    height: 20rem;
    position: relative;
    transition: all 200ms ease-in-out;
    filter: drop-shadow(0 20px 15px black);
    -webkit-transform:translateY(199px) translateZ(0);
    -moz-transform:translateY(199px) translateZ(0);
    -ms-transform:translateY(199px) translateZ(0);
    -o-transform:translateY(199px) translateZ(0);
    transform:translateY(199px) translateZ(0);
}

.aboutme-full-div::before{
    content: "";
    width: 100%;
    height: 20px;
    background: linear-gradient(grey , rgba(182, 182, 182, 0.63));
    box-shadow: 5px 5px 7px black;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
}


.aboutme-inner-div{
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    background-color: #e2e0e0;
    clip-path: polygon(0 0 , 100% 50% , 100% 100% , 0 100%);
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: #532E1C;
    font-size: 1.2rem;
    text-shadow: 3px 3px 5px grey;
}

.aboutme-text-div{
    width: calc(100% - 450px);
    display: inline-block
}

.aboutme-text-div p:nth-child(1){
    font-size: 2.5rem;
    color: #222831;
    text-shadow: 4px 4px 10px grey;
    font-family: 'Dancing Script', cursive;
}

.aboutme-text-div span:nth-child(2){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.aboutme-image-div{
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.aboutme-image{
    width: 100%;
    height: auto;
    z-index: 2;
}

@media(max-width : 1100px){
    .aboutme-image-div{
        display: none;
    }

    .aboutme-text-div{
        width: 100%;
    }
}

@media(max-width : 800px){
    .aboutme-inner-div{
        clip-path: url(#aboutMeCurve);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutme-full-div{
        height: 30rem;
        
    }
}