.portfolio-navbar-navlink-div{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    color: #fafafa;
    transition: all 500ms ease-in-out;
    opacity: 0;
-webkit-transform: translateZ(0) translateX(10px);
-moz-transform: translateZ(0) translateX(10px);
-ms-transform: translateZ(0) translateX(10px);
-o-transform: translateZ(0) translateX(10px);
transform: translateZ(0) translateX(10px);
}

.navlink-icon{
    padding-top: 17px;
    padding-right: 10px;
    font-size: 20px;
    text-shadow: 3px 3px 3px black;
}

.portfolio-navbar-navlink{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 3px black;
}

.portfolio-navbar-navlink-div:hover{
    color: #FFD369;
    transform: scale(1.05) translateZ(0);
}

.navlink-underline{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFD369;
    height: 3px;
    width: 0;
    border-radius: 0 1px 1px 0;
    transition: all 500ms ease-in-out;
    opacity: 0;

-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}

.portfolio-navbar-navlink-div:hover .navlink-underline{
    width: 100%;
    opacity: 1;
}